* {
  background-color: #FFB6C1;
}
h1 {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  
}
.est {
  display: inline;
  text-align: center;
  color: black;
  margin: 0;
}
