* {
  background-color: #FFB6C1;
}
h1 {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
h2 {
  text-align: center;
  width: 100%;
  margin-top 40px;
  margin-bottom: 0;
  font-weight: regular;
  font-size: 20px;
  
}
.est {
  display: inline;
  text-align: center;
  color: black;
  margin: 10px auto;
}
img {
  max-width: 350px;
  width: 100%;
  object-fit: cover;
  padding: 0 10px;
}
#photo2 {
  transform: rotate(180deg);
}
.photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
form {
  display: inline-block;
  border: 2px solid #FFc9d5;
  padding: 10px 10px;
  margin-top: 10px;
  text-align: left;
}
.form {
  text-align: center;
}
.nav-links {
  text-decoration: none;
  color: #de0000;
  font-family: helvetica, sans-serif;
}
.nav {
  display: inline-block;
  text-align: center;
}
input {
  padding: 10px 0;
