* {
  background-color: #FFB6C1;
}
h1 {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  
}
.est {
  display: inline;
  text-align: center;
  color: black;
  margin: 10px auto;
}
img {
  max-width: 350px;
  width: 100%;
  object-fit: cover;
  transform: (rotate)180deg;
}
#photo2 {
  
}
.photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
